%h1 Periskat

.clearfix.mxn2
  - @periscopes.in_groups_of(4) do |periscopes|
    = render partial: 'periscopes/periscope', collection: periscopes
    .clearfix
  - @meerkats.in_groups_of(4) do |meerkats|
    = render partial: 'meerkats/meerkat', collection: meerkats
    .clearfix
