html,
body {
  height: 100%;
}

body {
  background: #E9E6E1;
  font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  text-align: center;

  &.meerkats {
    background: #FFE200;
  }

  &.periscopes {
    background: #40A4C4;
  }
}

#application {
  width: 1277px;
  margin: 0 auto;
  overflow: hidden;
}
