.periscope {
  float: left;
  background-position: center center;
  background-size: cover;
  color: #FFF;
  border: 5px solid #000;
  border-radius: 10px;
  position: relative;
  background-color: #000;
  width: 269px;
  height: 478px;
  margin: 20px;
  overflow: hidden;
}
