.mejs-container {
  background-color: #000;
  background-position: center center;
  background-size: cover;
  border: 5px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFF;
  outline: none;
  overflow: hidden;
  position: relative;

  &:focus,
  &:active {
    outline: none !important;
  }
}

.mejs-inner {
  outline: none;

  &:focus,
  &:active {
    outline: none !important;
  }
}

.mejs-mediaelement {
  outline: none;

  &:focus,
  &:active {
    outline: none !important;
  }
}

.me-plugin {
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  outline: none;

  &:focus,
  &:active {
    outline: none !important;
  }
}

.mejs-time-total {
  overflow: hidden;
}
